$width-md: 768px;
$width-lg: 1120px;
$width-desktop: 1366px;

$default-text-color: #1b1c21;

.not-aside {
  @media screen and (min-width: $width-desktop) {
    margin-left: 320px;
  }

  &--opacity {
    opacity: 10%;
  }
}

body {
  font-family: TTLakes;
  color: $default-text-color;
  margin: 0 auto;
  background-color: hsl(0, 0%, 97%);
  font-size: 16px;

  @media screen and (min-width: $width-desktop) {
    max-width: 1440px;
  }
}

button {
  font-family: TTLakes;
  background-color: #f8f8f8;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $default-text-color;
}

[class$='--item--tablet'],
[class$='--item--PC'] {
  display: none;
}

.link {
  text-decoration: none;
  color: #1b1c21;
  transition-duration: 0.5s;
}

.link:hover {
  color: #999;
}

[class$='--flex-center'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  padding: 0 16px;
  @media screen and (min-width: $width-md) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  @media screen and (min-width: $width-lg) {
    padding-left: 34px !important;
    padding-right: 34px !important;
  }
}
