button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

.icon {
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.button {
  &_burger {
    background-image: url('../img/icons/burger.svg');
  }

  &_chat {
    background-image: url('../img/icons/chat.svg');
  }

  &_profile {
    background-image: url('../img/icons/profile.svg');
  }

  &_repair {
    background-image: url('../img//icons/repair.svg');
  }

  &_checkstatus {
    background-image: url('../img/icons/checkstatus.svg');
  }

  &_search {
    background-image: url('../img/icons/search.svg');
  }

  &_close {
    background-image: url('../img/icons/close.svg');
  }

  &_call {
    background-image: url('../img/icons/call.svg');
  }

  &_profile {
    background-image: url('../img/icons/profile.svg');
  }
}
