$width-md: 768px;
$width-lg: 1120px;

.main {
  padding-top: 23px;
  @media screen and (min-width: $width-lg) {
    padding: 40px 0px;
    background-color: #f8f8f8;
  }

  .main__title {
    font-family: TTLakes bold;
    font-weight: bold;
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main__title::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 2px;
  }

  .main__header {
    @media screen and (min-width: $width-lg) {
      padding: 0 34px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  .main__header-buttons {
    @media screen and (min-width: $width-lg) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .main__header-button {
    @media screen and (min-width: $width-lg) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      border: none;
      font-size: 16px;
      font-weight: bold;
      margin-left: 30px;
    }
  }

  .main__header-button .link {
    @media screen and (min-width: $width-lg) {
      margin-right: 10px;
    }
  }
}
