$width-md: 768px;
$width-lg: 1120px;

@media screen and (min-width: $width-md) {
  .header__container {
    padding: 25px;
  }

  [class$='--item--tablet'] {
    display: block;
  }

  .header__left .header__item--vertica-line--left::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    border-radius: 1px;
    margin-right: 16px;
  }

  .header__right .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  // .main__title::before {
  //   margin-right: 22px;
  // }

  // .slide-menu__link:first-child {
  //   // margin-left: 24px;
  // }

  // .slide-menu__link:last-child {
  //   margin-right: 24px;
  // }

  // .block {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   gap: 35px;
  //   padding: 0 24px;
  // }

  // .block__text--item--tablet {
  //   margin-top: 25px;
  // }

  // .block__cps-img {
  //   min-width: 360px;
  //   border-radius: 5px;
  // }

  // .show-more {
  //   display: flex;
  // }

  // .repair-brands__catalog {
  //   padding: 0 24px;
  // }

  // .brand-card:not(:last-child) {
  //   margin-right: 0;
  // }

  // .repair-brands__header {
  //   padding: 16px 24px;
  //   margin-bottom: 24px;
  // }

  // .repair-brands__catalog--grid,
  // .repair-kinds__catalog--grid {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   justify-items: center;
  //   gap: 16px;
  //   width: 100%;
  // }

  // // .brand-card--table-hidden,
  // .kind-card--table-hidden {
  //   display: none;
  // }

  // .brand-card--table-show,
  // .kind-card--table-show {
  //   display: flex;
  // }
}

@media screen and (min-width: $width-lg) {
  // body {
  //   max-width: 1120px;
  // }

  .item_PC {
    display: block;
  }

  .header {
    display: none;
  }

  // .main {
  //   padding: 40px 30px;
  //   background-color: #f8f8f8;
  // }

  // .main__header {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-box-pack: justify;
  //   -ms-flex-pack: justify;
  //   justify-content: space-between;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  // }

  // .main__title::before {
  //   margin-left: -30px;
  // }

  // .main__header-buttons {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  // }

  // .main__header-button {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   color: #000;
  //   border: none;
  //   font-size: 16px;
  //   font-weight: bold;
  //   margin-left: 30px;
  // }

  // .main__header-button span {
  //   margin-right: 10px;
  // }

  // .slide-menu {
  //   -ms-flex-wrap: wrap;
  //   flex-wrap: wrap;
  //   padding-bottom: 0;
  // }

  // .slide-menu__link,
  // .slide-menu__link:last-child,
  // .slide-menu__link:first-child {
  //   margin: 0;
  //   -webkit-box-flex: 1;
  //   -ms-flex-positive: 1;
  //   flex-grow: 1;
  // }

  // .block {
  //   padding: 0;
  //   padding-top: 24px;
  // }

  // .block__cps-img {
  //   min-width: 520px;
  // }

  // .repair-brands__catalog {
  //   padding: 0 32px;
  // }

  // .repair-brands__header {
  //   padding: 16px 32px;
  // }

  // .brand-card--table-hidden,
  // .kind-card--table-hidden {
  //   display: flex;
  // }

  // .repair-brands__catalog--grid,
  // .repair-kinds__catalog--grid {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  // }

  // .brand-card--pc-hidden,
  // .kind-card--pc-hidden {
  //   display: none;
  // }

  // .brand-card--pc-show,
  // .kind-card--pc-show {
  //   display: flex;
  // }
}
