$width-md: 768px;
$width-lg: 1120px;

.repair-brands {
  margin-bottom: 24px;

  @media screen and (min-width: $width-md) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $width-lg) {
    margin-bottom: 50px;
  }

  &__wrapper {
    @media screen and (min-width: $width-md) {
      margin-bottom: 24px;

      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      gap: 16px;
      width: 100%;
    }
    @media screen and (min-width: $width-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 1px;
    background: #d9fff5;
  }

  &__swiper-pagination {
    @media screen and (min-width: $width-md) {
      display: none;
    }
  }
}

.brand-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;
  min-width: 224px;
  max-width: 240px;
  height: 72px;

  &:not(:last-child) {
    margin-right: 16px;
    @media screen and (min-width: $width-md) {
      margin-right: 0;
    }
  }

  &--table-hidden {
    @media screen and (min-width: $width-md) {
      display: none;
    }
    @media screen and (min-width: $width-lg) {
      display: flex;
    }
  }
  &--table-show {
    @media screen and (min-width: $width-md) {
      display: flex;
    }
  }

  &--pc-hidden {
    @media screen and (min-width: $width-lg) {
      display: none;
    }
  }
  &--pc-show {
    @media screen and (min-width: $width-lg) {
      display: flex;
    }
  }

  &__button {
    border: 2px solid #ff3e79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: url('../img/dropdown.svg') no-repeat center;
  }

  &__image {
    display: block;
    margin-left: 16px;
  }
}
