.section-header {
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
  border-top: 1px solid #d9fff5;
  margin-bottom: 16px;
}

.section-header__text {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #7e7e82;
  padding-top: 16px;
  padding-bottom: 16px;
}
