$width-md: 768px;
$width-lg: 1120px;

.show-more {
  display: none;
  color: #000;
  font-weight: bold;
  align-items: center;
  @media screen and (min-width: $width-md) {
    display: flex !important;
  }

  &--show::before {
    content: url('../img/icons/arrow-down.svg');
    margin-right: 9px;
  }

  &--close::before {
    content: url('../img/icons/arrow-down.svg');
    margin-right: 9px;

    transform: rotate(180deg);
  }
}
