$width-md: 768px;
$width-lg: 1120px;
$width-desktop: 1366px;

.sidebar-show {
  display: flex !important;
}

.sidebar {
  z-index: 100;
  background-color: #fff;
  display: none;
  position: fixed;
  overflow-y: scroll;
  font-family: TTLakes medium;
  flex-direction: column;
  padding: 24px 16px;

  max-width: 360px;
  width: 100%;
  height: 100vh;

  @media screen and (min-width: 360px) {
    padding: 24px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }
  @media screen and (min-width: $width-desktop) {
    width: 320px;
    display: flex;
    box-shadow: none;
    padding: 30px 24px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &__header {
    justify-content: space-between;
    margin-bottom: 45px;

    &-item:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__button-close {
    @media screen and (min-width: $width-desktop) {
      display: none;
    }
  }

  &__menu-item {
    list-style: none;

    &--active a {
      color: #7e7e82;
    }

    &--active::before {
      position: absolute;
      content: '';
      left: -4px;
      margin-top: -6px;
      width: 8px;
      height: 32px;
      background-color: #41f6d7;
      border-radius: 4px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__footer {
    margin-top: auto;
  }
}

.contacts {
  & > * {
    display: block;
  }

  & button:not(:last-child) {
    margin-right: 16px;
  }

  &__cps-mail {
    margin-top: 16px;
  }

  &__number {
    margin-top: 12px;
  }

  &__number {
    font-weight: bold;
    font-size: 24px;
  }
}

.change-lang {
  margin-top: 40px;

  &__link--active {
    color: #7e7e82;
  }
}

a.change-lang__link:not(:last-child) {
  margin-right: 7px;
}
