$width-md: 768px;
$width-lg: 1120px;

.swiper-wrapper {
  margin-bottom: 16px;
  @media screen and (min-width: $width-md) {
    margin-bottom: 0;
  }
}

.swiper-pagination {
  position: static;

  & .swiper-pagination-bullet {
    background-color: #979797;
    width: 12px;
    height: 12px;
  }
}
